apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "cluster-secret.fullname" . }}-rolebinding-namespaced
  labels:
  {{- include "cluster-secret.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ include "cluster-secret.fullname" . }}-role-namespaced'
subjects:
- kind: ServiceAccount
  name: '{{ include "cluster-secret.fullname" . }}-account'
  namespace: '{{ .Release.Namespace }}'