apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "cluster-secret.fullname" . }}-role-namespaced
  labels:
  {{- include "cluster-secret.labels" . | nindent 4 }}
rules:
- apiGroups:
  - clustersecret.io
  resources:
  - kopfpeerings
  verbs:
  - list
  - watch
  - patch
  - get
- apiGroups:
  - events.k8s.io
  resources:
  - events
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - update
  - patch
